.banner .orbit-bullets {
    top: -38px;
}

.banner .orbit-bullets {
    top: -38px;
}

.banner .orbit-prev,
.banner .orbit-next {
    display: none;
}

.banner:hover .orbit-prev,
.banner:hover .orbit-next {
    display: initial;
}

.banner .orbit-bullets-container {
    height: 0px;
}

.label-container {
    border-bottom: 1px solid rgba(78, 78, 78, 0.31);
    line-height: 60px;
    height: 62px;
    margin-bottom: 15px;
}

.label-container .label-item {
    font-size: 16px;
    cursor: pointer;
}

.label-container .label-item.active {
    border-bottom: 3px solid #ef3123;
}

.room-item {
    margin-bottom: 20px;
}

.room-item .room-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    height: 24px;
    color: #333;
}

.room-item .avatar-block {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

.room-item .avatar-block .avatar {
    height: 20px;
    width: 20px;
    vertical-align: initial;
}

.room-item .words {
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
}

.room-item .cover-block {
    position: relative;
}

.room-item .cover-block .mask {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 24px;
    line-height: 24px;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
}

.room-item .cover-block .mask .user-number {
    float: right;
    color: white;
    font-size: 13px;
}