@media (min-width: 1200px) {
  .index-hero {
    .hero-item {
      .hero-item-content {
        padding-right: 300px;
      }
      .hero-item-aside {
        width: 300px;
        .hero-aside-wrapper {
          .hero-aside-inner {

          }
          .hero-aside-content {
            .player-info {
              padding-top: 0;
              .player-avatar {
                margin-bottom: 2rem;
                .avatar {
                  width: 90px;
                  height: 90px;
                }
              }
              .player-meta {
                h3 {
                  margin-bottom: 1rem;
                }
              }
            }
            hr {
              margin: 2rem 0;
            }
            .player-games {
              h4 {
                margin-bottom: 1rem;
              }
              ul {
                li {
                  h5 {
                    font-size: 1.2rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }


  .main-content {
    position: relative;
    overflow: hidden;
    .content {
      margin-right: 300px;
      padding: 4.5rem;
    }
    .sidebar {
      width: 300px;
      position: absolute;
      top: 0;
      right: 0;
      background: #fff;
      border-left: 1px solid #ccc;
    }
  }

  .content-wrapper {
    width: 890px;
    margin: 0 auto;
  }
  .video-list {
    .video-item {
      // width: 240px;
      .video-item-cover {
        height: 150px;
        overflow: hidden;
      }
    }
  }
}